body {

}
.big{

  width: 800px;
  height: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color:  #e4decd  ;
}
.biggest{

  width: 800px;
  height: 5px;
  margin: 0 auto;
  padding: 50px;
  background-color:  #e4decd  ;
}
