body {

}
.big{

  width: 800px;
  height: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color:  #e4decd  ;
}
.biggest{

  width: 800px;
  height: 5px;
  margin: 0 auto;
  padding: 50px;
  background-color:  #e4decd  ;
}
div.logins{
  width: 500px;
  height: 400px;
  margin: 0 auto;
  background-color: #d7bde2;

  text-align: center;
  border-style: solid 1px;


}
.signin {
   width: 200px;
   height: 40px;
  background-color: #4CAF50; /* Green */
   border: none;
   color: white;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
   margin: 4px 2px;
   cursor: pointer;
   width: 200px;

}
.signup {
   width: 200px;
   height: 40px;
  background-color: #4CAF50; /* Green */
   border: none;
   color: white;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
   margin: 4px 2px;
   cursor: pointer;
   width: 200px;

}
